<!-- <?xml version='1.0' encoding='utf-8'?> 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 2.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">net.sf.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/computer-database-db?serverTimezone=UTC</property>
		<property name="hibernate.connection.username">admincdb</property>
		<property name="hibernate.connection.password">qwerty1234</property>
		<property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<mapping resource="Company.hbm.xml" />
		<mapping resource="Computer.hbm.xml" />
	</session-factory>
</hibernate-configuration> -->